*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav-item a{
	
	text-decoration: none;
	color: black;
	font-weight: 600;
	margin-right: 25px;
	transition: all 0.4s;
	font-size: 20px;
}

.nav-item a:hover{
	color: #DB0F30;

}

.btn1:hover{
background-color: white;
color: #DB0F30;
border: solid 1px #DB0F30;
}
.btn1{
	color: white;
	background-color: #DB0F30;
	padding: 7px 25px;
	font-size: 20px;
	border-radius: 10px;
}
.btn2{
	color: black;
	background-color: white;
	padding: 7px 10px;
	font-size: 20px;
	border: none;
	font-weight: 600;
}

/*.......main......*/
.main{
	background-image: url('img/4a.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
}
.train{
	
	background-repeat: no-repeat;
margin-top: -110px;
	background-position: absolute;
transform: translateX(-20px);
	
}






.main h1{
	font-size: 70px;
	font-family: Roboto, sans-serif;;
	font-weight: 700;
	margin-top: 85px;
	margin-bottom: 22px;
	line-height: 80px;
background: linear-gradient(90deg, rgb(251, 45, 78) 25%, rgb(78, 136, 255) 75%);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}
.main p{
	font-size: 19px;
	
	margin-left: 85px;
	transform: translateX(-20px);
}
.mbtn2{
	color: #292C4A;
	background-color: white;
	padding: 7px 22px;
	font-size: 18px;
	border: solid 2px #292C4A;
	border-radius: 10px;
	
}
.mbtn2:hover{
background-color:#292C4A;
color: white;

}
.mbtn1{
	color: white;
	background-color: #292C4A;
	padding: 7px 25px;
	font-size: 18px;
	border: solid 2px #292C4A;
	border-radius: 10px;
transform: translateX(-15px);
}
.mbtn1:hover{
background-color: white;
color: #292C4A;

}

/*--------------------------------bring------------*/




.bring{
	background-image: url('img/background-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 780px;	
}


.bring h1{
	color: #0e1133;
	font-size: 40px;
	font-family: Roboto, sans-serif;;
	font-weight: 900;
	line-height: 54px;
}

.btn5{
	color: #DB0F30;
	background-color:white;
	padding: 7px 25px;
	font-size: 18px;
	border: solid 2px #DB0F30;
	border-radius: 8px;
	text-decoration: none;

}

.btn5:hover{
background-color: #DB0F30;
color: white;
}

.btn4{
	color: #DB0F30;
	background-color:white;
	padding: 7px 25px;
	font-size: 18px;
	border: solid 2px #DB0F30;
	border-radius: 8px;
	text-decoration: none;
}

.btn4:hover{
background-color: #DB0F30;
color: white;
}

.mobile1{
	height: 160px;
	padding-left: 90px;
}

.mobile1 img{
	height: 160px;
	width: 500px;
	
}

.mobile{
	height: 160px;
	padding-left: 80px;
}

/*----------------------------Solution--------------------*/

.solution h1{
	font-size: 44px;
	font-family: Roboto, sans-serif;;
	font-weight: 900;
	color: #0e1133;
	line-height: 53px;
}
.solution p{
	font-size: 18px;
}

.solution h5{
	font-size: 20px;
	font-family: Roboto, sans-serif;;
	font-weight: 700;
	color: #0e1133;
	line-height: 24px;
}

.solution .circle{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #F85943;
	color: white;
	text-align: center;
	padding-top: 8px;
	font-size: 22px;
	border: none;
	text-align: center;
	
}
.solution .circle:hover{
	background-color: #2D7EE8;
	color:  #FFFFFF;
}



/*---------------------------------Work------------*/


.work h1{
	font-size: 44px;
	font-family: Roboto, sans-serif;;
	font-weight: 900;
	color: #0e1133;
	line-height: 53px;
}
.work p{
	font-size: 19px;
}


.circle{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color:#C1D7FD ;
	color: #2D7EE8;
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
	border: none;
}
.circle:hover{
	background-color: #2B70FA;
	color:  #FFFFFF;
}

.work img:hover{
	transform: translateX(15px);
}
/*---------------------------------building------------*/
.welcome{
	background-image: url('img/signup-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}



.line{
	height: 3px;
	width: 30%;
	background-color: white;
	display: inline-block;

}
.welcome .card{
	color: #0e1133;
	border-radius: 0;
	border: none;
	cursor: pointer;
	font-weight: bold;
	background-color: #F7E8FF;
}

.welcome .card:hover{
	background-color: #B2C23D;
	opacity: 0.8;
	}

.welcome .circle{
	height: 50px;
	width: 50px;
	border-radius: 30%;
	background-color: #F85943;
	color: white;
	text-align: center;
	padding-top: 8px;
	font-size: 22px;
	border: none;
	text-align: center;
	margin-left: 85px;
}
.welcome .circle:hover{
	background-color: #2D7EE8;
	color:  #FFFFFF;
}

/*-------------------------blog------------*/

.blogg{
	background-image: url('img/background-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	height: 950px;
	
}

.blogg h1{
	font-size: 44px;
	font-family: Roboto, sans-serif;;
	font-weight: 900;
	color: #0e1133;
	line-height: 54px;
	text-align: center;
}
.blogg p{
	font-size: 19px;
	text-align: center;
}
.blogg h5{
	font-size: 20px;
	font-family: Roboto, sans-serif;;
	font-weight: 900;
	color: #0e1133;
	line-height: 32px;

}

.blogg .card{
border: none;

}
.blogg .card:hover{
	background-color: #B2C23D;

color: #ffff;
}

.btn13{
	color: red;
	background-color:white;
	padding: 7px 25px;
	font-size: 18px;
	border: solid 2px red;
	border-radius: 8px;
	text-decoration: none;
}

.btn13:hover{
background-color: red;
color: white;
}


/*-------------template-------------*/


.temp{
	background-color:#EEF1F6;
}

.temp h1{
	font-size: 44px;
	font-family: Roboto, sans-serif;;
	font-weight: 900;
	color: #0e1133;
	line-height: 54px;
}

.temp p{
	font-size: 19px;	
}


.play-btn i{
 width: 60px;
 position: absolute;
 left: 75%;
 top: 40%;
 transform: translateY(2150%);
	color: #fff;
	font-size: 100px;
}
.box-1{
	padding: 50px;

	width: 220px;
	
	margin-top: -166px;
	position: relative;
}
.box-2{
	padding: 50px 20px;
	margin-top: -166px;
	position: relative;
	width: 220px;
	background-color: #1D1E3E;
	color: white;
}


/*------------team -----member-------------*/
.team{
	background-color:#D5F3FE;
}

.team h1{
  font-size: 44px;
	font-family: Roboto, sans-serif;;
	font-weight: 900;
	color: #0e1133;
	line-height: 54px;
}
.team h5{
	font-size: 20px;
	font-family: Roboto, sans-serif;;
	font-weight: 600;
	color: #292c4a;
}

.team p{
	font-size: 19px;	
}
.box{
	width:270px;
	overflow: hidden;
	position: relative;
	margin: 0px auto;
}

.box img{
	width: 100%;
	height: auto;
	display: block;
}

.box .box-content{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.box .box-content:before,
.box .box-content:after{
 content: '';
 width: 95%;
 height: 47%;
 background-color:#DC3545 ;
 position: absolute;
 left: 0;
 right: 0;
 margin: auto;
 transition: all 0.5s;
 opacity: 0;
}
.box .box-content:before{
	top: -20%;	
}

.box .box-content:after{
	bottom: -20%;	
}

.box:hover .box-content:before{
	top: 3%;
	opacity: 0.8;
}

.box:hover .box-content:after{
	bottom: 3%;
	opacity: 0.8;
}
.box .content{
	width: 100%;
  height: 45px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  opacity: 0;
}
.box:hover .content{
opacity: 1;
}
.box .social{
	list-style: none;
}
.box .social li{
display: inline-block;
margin-top: 50px;
margin-right: 0px;
font-size: 18px;
}





/*-------------------about-------------------------*/
.team{
	background-color:white;
}
.cont{
  background-image: url('img/map-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-bottom: 50px;
	height: 600px;
	width: 100%;
}


.quoate{
	font-size: 50px;
	color: royalblue;
}

.pre .carousel-control i{
  position: absolute;
  top: 50%;
  left: 17%;
  transform: translateY(-50%);
  z-index: 9;
  cursor: pointer;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 36px;
  border: 2px solid #db0f30;
  color: #db0f30;
  border-radius: 50%;
  transition: all linear 0.3s;
  background: #fff;
 
}

.nex .carousel-control i{
  position: absolute;
  top: 50%;
  right: 17%;
  transform: translateY(-50%);
  z-index: 9;
  cursor: pointer;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 36px;
  border: 2px solid #db0f30;
  color: #db0f30;
  border-radius: 50%;
  transition: all linear 0.3s;
  background: #fff;
}



 .carousel-indicators {
   bottom: 30px !important;

}



.carousel-indicators button {
   width: 60px !important;


}


.carousel-control i:hover{
	background-color:red;
	color: white;
}
.car{
	background-color:white;
	margin: 30px 42px;
  box-sizing: border-box;
  box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 1.0);
  border: solid 1px #F4F6F9;
}
.car:hover{
	background-color: #DC3545;
	opacity: 0.6;
	color: white;
	}




/*-------------------contact-------------------------*/



.contact{
  background-image: url('img/signup-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-radius: 10px;
	box-shadow: ;
	
}
.contact h1{
font-size: 44px;
	font-family: Roboto, sans-serif;;
	font-weight: 900;
	color: #fff;
	margin-right: 390px;
}

.contact p{
	font-size: 19px;
	color: white;
	margin-right: 480px;
}
.tainer2 img{
height: 350px;
}
.form-control{
	padding: 15px 25px;
	color: white;
}
.checkbox{
	margin-right: 300px;
	color: #fff;
	cursor: pointer;
}
.social_icons .bi bi-facebook{
	color: black;
	background-color: black;
}

/*------------------footer-------------------------*/



.footer-area p{
	font-size: 17px;
	
}
.single-footer h4{
font-weight: 700;
margin-bottom: 25px;
}

.social_icons{
	display: inline-block;
}
.logo{
	margin-right: 40px;
}
